<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
  <head>
    <title>Twitter Home</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">
  </head>
  <body>
      <nav class="navbar sticky-top navbar-dark bg-dark">
        <a class="navbar-brand text-white" th:href="@{/twitter}"><h2>Twitter Feed</h2></a>
        <form class="form-inline" th:action="@{/twitter/search}" >
          <input class="form-control mr-sm-2" type="search" th:name="search" placeholder="Search Tweets" aria-label="Search">
          <button class="btn btn-outline-white my-2 my-sm-0" type="submit">Search</button>
        </form>
      </nav>
      <div class="container bg-light">
           <div th:each="tweet : ${tweets}" class="d-flex flex-row" style="margin-top: 4px">
                <div th:utext="${tweet.html.replaceAll('/\n/','')}" class="col-6"></div>
                <div class="alert alert-dark col-6" role="alert">
                    <h3>Sentiment Analysis</h3>
                    <table class="table">
                        <thead>
                            <th>Sentiment Type</th>
                            <th th:text="${tweet.getSentimentData().getSentimentType()}"></th>
                        </thead>
                        <thead>
                        <th>Sentiment score (0-4)</th>
                        <th th:text="${#strings.concat(tweet.getSentimentData().getSentimentScore())}"></th>
                        </thead>
                        <tbody>
                        <tr>
                            <td>Very Positive Sentiment</td>
                            <td th:text="${#strings.concat(#numbers.formatDecimal(tweet.getSentimentData().getVeryPositive(),1,2),'%')}"></td>
                        <tr>
                            <td>Positive Sentiment</td>
                            <td th:text="${#strings.concat(#numbers.formatDecimal(tweet.getSentimentData().getPositive(),1,2),'%')}"></td>
                        <tr>
                            <td>Neutral Sentiment</td>
                            <td th:text="${#strings.concat(#numbers.formatDecimal(tweet.getSentimentData().getNeutral(),1,2),'%')}"></td>
                        </tr>
                        <tr>
                            <td>Negative Sentiment</td>
                            <td th:text="${#strings.concat(#numbers.formatDecimal(tweet.getSentimentData().getNegative(),1,2),'%')}"></td>
                        </tr>
                        <tr>
                            <td>Very Negative Sentiment</td>
                            <td th:text="${#strings.concat(#numbers.formatDecimal(tweet.getSentimentData().getVeryNegative(),1,2),'%')}"></td>
                        </tr>
                        </tbody>
                    </table>
                </div>
               <br><br>
           </div>
      </div>
      <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
      <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"></script>
      <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"></script>
  </body>
</html>
